.cont {
    display: flex;
}
.kotak-1 {
    height: 100px;
    width: 250px;
    background-color: beige;
    border: solid;
    margin-auto: 20px;
   margin-bottom: 20px;
   margin-right: 20px;
}

.kotak-2 {

    height: 100px;
    width: 1290px;
    border: solid;
    background-color: beige;
    margin-auto: 20px;
}

.cont2 {
    display: flex;
}

.kotak-3 {
    background-color: red;
    height: 1000px;
    width: 250px;
    border: solid;
    margin-auto: 20px;
}

.kotak-4 {
    background-color: yellow;
    height: 1000px;
    width: 1000px;
    border: solid;
    margin-left: 20px;
}

.kotak-5 {
    background-color: rgb(56, 240, 35);
    height: 1000px;
    width: 250px;
    border: solid;
    margin-left: 20px;
    margin-bottom: 20px;
}

.cont3 {
    display: flex;
}

.kotak-6 {
    height: 100px;
    width: 1580px;
    background-color:blue;
    border: solid;
    margin-right: 2Opx;
}
