.kotak-1 {
    height: 200px;
    width: 1280px;
    background-color: crimson;
    border: solid;
    margin-bottom: 20px;
}

.cont2 {
    display: flex;
}

.kotak-2 {
    height: 200px;
    width: 200px;
    background-color: cyan;
    border: solid;
    margin-right: 20px;
    margin-bottom: 20px;
}

.kotak-3 {
    height: 200px;
    width: 1050px;
    border: solid;
    background-color: aquamarine;
    margin-auto: 20px;
    margin-bottom: 20px;
}

.cont3 {
    display: flex;
}

.kotak-4 {
    height: 200px;
    width: 200px;
    background-color: royalblue;
    border: solid;
    margin-right: 20px;
}

.kotak-5 {
    height: 200px;
    width: 1050px;
    border: solid;
    background-color: greenyellow;
    margin-auto: 20px
}