body{
    background-color: magenta;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    color:blue ;
}
#jawa p{
    background-color: white;
    text-align: center;
    border:1px dotted black;
    margin-left: 10%;
    margin-right: 10%; 
}
#jawa {
    background-color: white);
}
#soekarno {
    font-style: italic;
}
img {
    width: 20%;
}
.link{
    margin-inline:inherit;
    text-align: center;
}
.B {
    font-size: 300%;
    font-weight: bold;
    color: blue;
}